.env
/.idea
/mri_breast_duke/.idea
/mri_breast_duke/features
/mri_breast_duke/images
/mri_breast_duke/lightning_logs
/mri_breast_duke/venv
/mri_breast_duke/virtualEnv
/mama_mia/features
lightning_logs