.env
/.idea
/mriBreastDuke/.idea
/mriBreastDuke/features
/mriBreastDuke/images
/mriBreastDuke/lightning_logs
/mriBreastDuke/venv
/mriBreastDuke/virtualEnv
/mama_mia/features
lightning_logs
__pycache__/
*.pyc
/logs
